body {
    font-family: Arial, sans-serif;
    background-color: #FFEFD3; /* Light peach background */
    margin: 0;
    padding: 0;
}

.chatbox {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #FFFFFF; /* White background for the chatbox */
    border: 2px solid #FBD3B8; /* Light orange border */
    border-radius: 10px; /* Rounded corners for the chatbox */
}

.chat-messages {
    height: 300px;
    overflow-y: auto; /* Enable scrolling */
    padding: 10px;
    background: #FFC49B; /* Peach background for messages */
    border-bottom: 2px solid #FBD3B8; /* Separator between messages and input */
}

.message {
    margin-bottom: 15px; /* Space between messages */
}

.text {
    font-size: 16px;
    color: #294C60; /* Dark blue text */
    padding: 8px; /* Padding around text for readability */
    display: inline-block;
    max-width: 80%; /* Maximum width of text to avoid overflow */
}

.friend-message, .user-message, .friend-message-center {
    background-color: #FFEFD3; /* Light peach for message bubbles */
    color: #294C60; /* Dark blue text for contrast */
    border-radius: 10px; /* Rounded corners for the message bubbles */
    padding: 5px 10px; /* Padding inside the message bubbles */
    display: inline-block; /* Allows the bubbles to size according to content */
    max-width: 80%; /* Maximum width to keep messages readable */
}

.friend-message-center p, .friend-message-center a {
    text-align: center; /* Center-aligns the content for centered messages */
    display: block; /* Treats the elements as block for proper alignment */
    color: #294C60; /* Ensures the link inherits the same color */
    text-decoration: none; /* Removes underline from links */
}

.user-message {
    background-color: #294C60; /* Dark blue for user messages */
    color: #FFFFFF; /* White text for readability */
    text-align: right;
    margin-left: auto; /* Aligns user messages to the right */
}

.message-form {
    display: flex;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't increase the box's size */
}

.chat-input {
    flex: 1; /* Allows the input to fill the space */
    padding: 10px;
    border: 2px solid #FBD3B8; /* Light orange border */
    border-radius: 5px; /* Rounded corners for the input field */
    margin-right: 10px; /* Space between the input field and the send button */
}

.send-button {
    background-color: #294C60; /* Dark blue background for the button */
    color: white; /* White text for the button */
    border: none; /* Removes the default border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

.send-button:hover {
    background-color: #213d4f; /* Slightly darker blue on hover for feedback */
}
