body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #FFEFD3;
    color: #294C60;
}

h1 {
    color: #294C60;
    text-align: center;
}

input[type="text"], select, textarea, button {
    width: calc(100% - 20px);  /* Full width minus padding */
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #FBD3B8;
    box-sizing: border-box; /* Includes padding and border in the element's width */
}

textarea {
    display: block; /* Ensures the textarea is on a new line */
    resize: vertical; /* Allows vertical resizing only */
    margin-bottom: 10px; /* Space below the textarea */
}

button {
    background-color: #294C60;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Ensures buttons are full-width */
    margin-top: 10px;
}

button:hover {
    background-color: #213d4f;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    border-top: 2px solid #FBD3B8; /* Line to separate tasks from input */
    margin-top: 20px; /* Space between inputs and list */
}

.todo-item {
    background-color: #FFF;
    border: 1px solid #FBD3B8;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
